/* @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap'); */
*{
    padding: 0;
    margin: 0;
}

.body{
/* background: url("../img/bg.jpg");  */
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .startScreen {
    position: absolute;
    background-color: #26a69a;
    ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
    text-align: center;
    border: 1px solid black;
    padding: 40px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    font-family: sans-serif;
    letter-spacing: 6;
    font-size: 25px;
    word-spacing: 4;
    line-height: 40px;
    text-transform: uppercase;
    box-shadow: 0 5px white;
    box-decoration-break: slice;

} */

 .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
} 

@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }

}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(255, 255, 255), rgb(11, 50, 158));
    width: 90vmin;
    border-radius: 20px;
    height: 92vmin;
    border: 2px solid black;
    position: relative;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

 .head{
    background: red;
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 30px;
} 

.snake{
    background-color: darkgreen;
    border: .25vmin solid white;
    border-radius: 30px;
}

.food{
    
    
     background: goldenrod; 
    border: .45vmin solid black; 
     border-radius: 30px; 
}